@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1eee9;
  --foreground: #8f7054;
  --font-display: 'Dancing Script', cursive;
  --font-heading: 'Young Serif', serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lora', serif;
}
